main {
  padding-top: 20px;
}

.hot-news__image {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
}

.top-news__image {
  width: 100%;
  height: auto;
}

.top-news__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post {
  background-clip: padding-box;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center;
  padding: 30px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.top-views {
  background-clip: padding-box;
  height: 215px;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center;

  padding: 30px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content {
  width: 100%;
  background-color: var(--white-color);
  padding: 10px 24px;
  position: relative;
}

.content__info {
  color: var(--black-color);
}

.content__heading {
  font-size: 1.8rem;
  padding-bottom: 6px;
}

.trending__tag {
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  font-size: 1.2rem;
  line-height: 1.2rem;
  padding: 6px;
  top: -24px;
  left: 5%;
  color: var(--white-color);
}

.main-content {
  margin-top: 23px;
}

.section__heading {
  font-size: 1.8rem;
  position: relative;
  margin-bottom: 16px;
}

.section__heading::after {
  content: "";
  height: 2px;
  width: 100%;
  left: 0;
  background-color: var(--light-gray);
  position: absolute;
  top: 50%;
  z-index: -2;
}

.section__heading::before {
  content: "";
  height: 2px;
  width: 50%;
  left: 0;
  background-color: var(--black-color);
  position: absolute;
  top: 50%;
  z-index: -1;
}

.post__item {
  margin-bottom: 20px;
}

.item__img img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
}

.post__tag {
  color: var(--white-color);
  display: inline-block;
  padding: 2px 4px;
  font-size: 1.2rem;
  margin-bottom: 4px;
}

.post__heading {
  font-size: 1.8rem;
  line-height: 2rem;
}

.post__paragraph {
  padding-top: 10px;
  font-size: 1.4rem;
  color: var(--normal-gray);
}

.sub-item__link {
  display: flex;
}

.sub-item__img img {
  width: auto;
  height: 120px;
  object-fit: cover;
}
.sub-post__content {
  margin-left: 12px;
}

.tag__section .tag__link {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.tag__link strong {
  color: var(--black-color);
}

.banner__section {
  margin-top: 30px;
}
.banner {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.main-section,
.sub-section {
  margin-bottom: 30px;
}
