footer {
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer__container {
  border-top: 2px solid var(--black-color);
  padding: 10px 0 0;
  margin: 20px 0px;
}

.footer__info {
  margin-top: 20px;
  font-size: 1.4rem;
  color: var(--normal-gray);
  line-height: 2rem;
}

.footer__info p:first-child {
  font-weight: bold;
}

.footer__logo img {
  width: 90%;
  height: auto;
}
