.header {
  padding-top: 16px;
}

.header__container {
  margin-bottom: 10px;
}

.header__tag {
  text-transform: uppercase;
  padding: 0px 0 12px;
  border-bottom: 0.5px solid var(--light-gray);
  display: inline-block;
}

.tag__link {
  display: inline-block;
  color: var(--normal-gray);
  transition: all 0.5s;
  padding-left: 4px;
}

.tag__link:hover {
  color: var(--black-color);
}

.platform__link {
  color: var(--black-color);
  padding: 8px 0 0;
  margin-right: 20px;
  display: inline-block;
  font-size: 1.4rem;
}

.header-center {
  margin-top: 24px;
}

.header__logo {
  text-transform: uppercase;
  font-size: 4.6rem;
  font-weight: bold;
  line-height: 4.6rem;
  text-align: center;
}

.header__title {
  font-size: 1.2rem;
  color: var(--light-gray);
  font-weight: normal;
  text-align: center;
}

.header-right {
  position: relative;
  /* line-height: 40px; */
}

.header__search {
  /* content: ""; */
  display: flex;
  position: absolute;
  width: calc(100% - 15px);
  /* left: -15px; */
  top: calc(50% - 20px);
  border: 1px solid var(--black-color);
}

.search__icon {
  right: 0;
  display: block;
  font-size: 1.4rem;
  padding: 10px;
  transition: all 0.2s;
  border-radius: 50%;
  cursor: pointer;
  color: var(--black-color);
  line-height: 4rem;
  align-self: center;
}

.search__input {
  /* position: absolute; */
  left: 0;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 0;
  background: none;
  font-size: 1.4rem;
  transition: 0.5s ease;
  line-height: 40px;
  border-radius: 40px;
  padding: 0 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--black-color);
  border-top: 1px solid var(--black-color);
  /* padding: 6px 0; */
}

.nav__item {
  padding: 15px 20px;
  font-size: 1.4rem;
  color: var(--black-color);
  font-weight: bold;
}
