* {
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

:root {
  --normal-gray: #7d7d7d;
  --light-gray: #ccc;
  --black-color: #000;
  --white-color: #fff;
  --hotnews-height: calc((450px / 2));
}

html {
  font-family: sans-serif, Helvetica, "Noto Serif JP";
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
  color: var(--black-color);
}

span {
  display: block;
}
ul {
  list-style-type: none;
}

.title {
  color: var(--black-color);
  font-weight: bold;
}

.author {
  color: var(--normal-gray);
  font-weight: bold;
  padding-bottom: 6px;
  font-size: 1.4rem;
}

.content__paragraph {
  font-size: 1.4rem;
  color: var(--normal-gray);
}

.trending__tag.red {
  background-color: red;
}
.trending__tag.blue {
  background-color: blue;
}
.trending__tag.purple {
  background-color: purple;
}

.beige {
  background-color: #e0d8b0;
}

.black {
  background-color: var(--black-color);
}

.neon-green {
  background-color: #55d8c1;
}
